<div class="container mt-4">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th class="border-0 bg-light text-uppercase" scope="col"> Id</th>
                    <th class="border-0  bg-light text-uppercase" scope="col"> Date</th>
                    <th class="border-0 bg-light text-uppercase" scope="col"> Total</th>
                    <th class="border-0 bg-light text-uppercase" scope="col"> Status</th>
                    <th class="border-0 bg-light text-uppercase" scope="col"> Details</th>
                </tr>
            </thead>
            <tbody> 
                
                <tr *ngFor="let order of orders">
                    <td>{{order.id}}</td>
                    <td>{{order.orderDate | date:'medium'}}</td>
                    <td><strong>{{order.total | currency}}</strong></td>
                    <td>{{order.orderStatus}}</td>
                    <td><a class="btn btn-outline-secondary" routerLink ="/order/{{order.id}}">Details</a></td>
                </tr>
        </table>
    </div>
</div>