<div class="container">
    <ng-container *ngIf="($basket |async) === null">
        <p>No Items added in the cart. Please start adding items in the cart.....</p>
        <a class="mb-3 btn btn-outline-secondary" routerLink="/shop"> Start Shopping</a>
    </ng-container>
    <div *ngIf="$basket |async as basket">
        <div class="row">
            <div class="col-12">
                <app-basket-summary [items] ="basket.items" (increment)="incrementQuantity($event.id)"
                    (decrement)="decrementQuantity($event.id)" (remove)="removeItem($event.id)"></app-basket-summary>
            </div>
        </div>
        <div class="offset-6 col-6">
            <app-order-totals *ngIf="basketTotal$ |async as basketTotal" [totals]="basketTotal" ></app-order-totals>
            <a *ngIf="basket.items.length >0" class="offset-8 mb-3 btn btn-outline-secondary"
                routerLink="/checkout">Proceed to checkout</a>
        </div>
    </div>