<div class="container">
    <div class="row" *ngIf="(basketTotal$ |async) as basketTotal">
        <div *ngIf="basketTotal.total >0">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th class="border-0 bg-light" colspan="2">
                            Order Summary
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <p class="mt-2 font-italic">* Shipping cost will be added depending on the choice made
                                    during check out </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Shipping Charges</td>
                            <td style="text-align: center;">{{basketTotal.shippingCharge |currency}}</td>
                        </tr>
                        <tr>
                            <td>Sub Total</td>
                            <td style="text-align: center;">{{basketTotal.subtotal |currency}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td style="text-align: center;"><strong>{{basketTotal.total |currency}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>