.cart-item{
    position: absolute;
    top:-12px;
    left: 15px;
    background: blue;
    color: white;
    border-radius: 15px;
    min-height: 25px;
    min-width: 25px;
    text-align: center;
}