<div
    class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 justify-content-between bg-white border-bottom shadow-sm fixed-top">
    <img src="/assets/images/logo.png" style="max-height: 70px; cursor: pointer; outline: none;" alt="logo"
        routerLink="/">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: 15px;">
        <a class="p-2 " [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
        <a class="p-2" routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
    <div class="d-flex align-items-center">
        <a routerLink="/basket" class="position-relative">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
            <div *ngIf="basket$ |async as basket" class="cart-item">{{basket.items.length}}</div>
        </a>
        <ng-container *ngIf="(user$ |async) === null">
            <a routerLink="/account/login" class="btn btn-outline-secondary mr-2">Login</a>
            <a routerLink="/account/register" class="btn btn-outline-secondary mr-3">Sign up</a>
        </ng-container>
        <ng-container *ngIf="(user$ |async) as user">
            <div class="btn-group" dropdown>
                <a id="button-animated" dropdownToggle type="button" class="btn btn-outline-light dropdown-toggle"
                        aria-controls="dropdown-animated">
                        Welcome <strong>{{user.displayName}} </strong><span class="caret"></span>
                </a>
                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-animated">
                  <li role="menuitem"><a class="dropdown-item" routerLink="/basket"><i class="fa fa-shopping-cart mr-2"></i>View Cart</a></li>
                  <li role="menuitem"><a class="dropdown-item" routerLink="/order"><i class="fa fa-history mr-2"></i>View Orders</a></li>
                  <div class="dropdown-divider"></div>
                  <li role="menuitem"><a class="dropdown-item" (click) ="logout()">Logout</a></li>
                </ul>
              </div>
        </ng-container>
    </div>
</div>